
@keyframes waves_mbr {
    from {
      transform: scale(0.30, 0.30);
      opacity: 0.6;
    }
    to {
      transform: scale(1.8, 1.8);
      opacity: 0;
    }
  }
   /* end buttton */
   
  .email-btn-mbr {
    width: 135px;
    height: 135px;
    position: relative;
  }
  
  .circle_waves {
    border-radius: 50%;
    background-color: #fff;
    width: 135px;
    height: 135px;
    position: absolute;
    opacity: 0;
    bottom: 1px;
    left: 0;
    z-index: 99;
    animation: waves_mbr 4s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
  }
  /* logo photo */
  .icon_logo {
    z-index: 99999;
    position: relative;
    left: 38px;
    top: 36px;
}